#horizon_hill{
position:absolute;
top:45%;
}
#horizon_hill_top{
position:absolute;
top:-5%;
left:10%;
}
#horizon_hill_bottom{
position:relative;
left:10%;
}

.horizonClass{
width:250px;
height:5px;
}
.horizonClass_top{
height:5px;
}